@media screen and (min-width: 767px) {
   

    h1 {
        font-family: Lora;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        color: var(--light-title-color);
    }

    h2 {
        font-family: Lora;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--light-title-color);
    }

    h3 {
        font-family: Lora;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--light-title-color);
    }

    h4 {
        font-family: Lora;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p, a {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: var(--light-body-color);
    }
    a {
        color: var(--light-title-color)
    }
    
    #colorful {
        background: var(--gradient-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    main {
        padding-top: 77px;  
    }

/* Header nav */
    header {
        height: 77px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 300px;
        padding: 24px;
        position: fixed;
        background-color: var(--light-background-color);
        z-index: 1;
    }

    header img { 
        height: 24px;
    }

    nav.menu > ul {
        display: flex;
        gap: 32px;
        align-items: center;
        flex-direction: row;
    }

    nav ul li {
      position: relative; 
    }

    .mobile {
        display: none;
    }

/* LHVA */

    nav ul li a:link, nav ul li a:visited {
        color: var(--light-title-color);
    }

    nav ul li a:hover {
        background: var(--gradient-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* drop down header */

    nav ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    nav ul li ul li {
        padding: 10px;
        color: #220953;
        background: #F5F0FF;   /*darkmode not change color */
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    nav ul li:hover > ul {
        display: block;
        opacity: 1;
    }   

/* for dark mode */

    #dark-toggle {
        display: none; 
    }

    .toggle-label {
        cursor: pointer;
    }

    .toggle-label img {
    transition: transform 0.3s;
    }

    #dark-toggle:checked + .toggle-label img {
    content: url('./asset/sun.svg'); 
    transform: rotate(360deg);
    }   

    body:has(#dark-toggle:checked) {
    --light-background-color: var(--dark-background-color);
    --light-title-color: var(--dark-title-color);
    --light-body-color: var(--dark-body-color);
    --light-container: var(--light-container);
    }

/* hero section */
    .container1 {
        text-align: center;
        display: flex;
        padding: 48px;
    }

    .leftbox {
        margin-left: 140px;
        text-align: left;
        position: relative;
    }

    .container1-text {
        width: 417px;
    }

    .yoga {
        position: absolute;
        top: 140px;
        left: 220px;
        border-radius: 8px;
        background: var(--gradient-color);
        width: 238px;
        height: 131px;
        transform: rotate(10deg);
        color: var(--white-color);
        font-family: Lora;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%;
        text-align: center;
    }

    #star {
        position: absolute;
        top: 140px;
        left: 480px;
    }

    #circle {
        position: absolute;
        top: 350px;
        left: -40px;
    }

    button[type="colorful-button"] {
        margin-top: 32px;
        padding: 16px 28px;
        align-items: center;
        border-radius: 64px;
        background: var(--gradient-color);
        border: none;
        color: var(--white-color);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .number {
        margin-top: 48px;
        display: flex;
        gap: 64px;
    }

/* #01 */

    .container2 {
        margin-top: 48px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 48px;
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    #blink {
        position: absolute;
        right: 600px;
        top: 85px;
    }

    #linkcircle {
        position: absolute;
        right: 70px;
    }

/* Bring Happiness To Good Health!  */

    .container3 {
        margin-top: 48px;
        padding: 48px;
        display: flex;
        gap: 32px;
        border-radius: 12px;
        position: relative;
    }

    .container3 .rightbox p {
        margin-top: 40px;
        width: 550px;
    }

    #heartrate {
        display: flex;
        width: fit-content;
        background-color: var(--white-color);
        padding: 8px 12px;
        gap: 8px;
        border-radius: 12px;
        position: absolute;
        top: 90px;
        left: 10px;
    }

    #freecourse {
        background-color: var(--white-color);
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        border-radius: 12px;
        position: absolute;
        bottom: 32px;
        right: 31px
    }

/* Anytime, Any Place, Any Workout */

    .container4 {
        margin-top: 48px;
        padding: 48px;
        display: flex;
        gap: 64px;
        position: relative;
    }

    .container4 .rightbox {
        position: relative;
    }

    .container4 .leftbox h3 {
        width: 500px;
    }

    .container4 .leftbox p {
        margin-top: 40px;
        width: 480px;
    }

    #stretching1 {
        position: absolute;
        z-index: 1;
        top: -77px;
        border-radius: 192px;
        border: 10px solid var(--light-background-color);
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    #stretching2 {
        position: absolute;
        z-index: 0;
        left: 80px;
        top: 180px;
    }

    #video {
        position: absolute;
        z-index: 1;
        right: 197px;
        background-color: var(--white-color);
        padding: 12px 8px;
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 8px; 
        border-radius: 16px; 
    }

    #Professional-Trainer {
        background-color: var(--white-color);
        position: absolute;
        z-index: 1;
        right: 498px;
        bottom: 20px;
        padding: 12px 8px;
        border-radius: 16px;
        display: flex;
        gap: 8px; 
        width: fit-content;
        align-items: center;
    }

/* follow us */
    .container5 {
        margin-top: 140px;
        padding: 48px;
        text-align: center;
    }

    .topbox {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .bottombox {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .photo-wrapper1, .photo-wrapper2 {
        border-radius: 192px;
        border: 10px solid var(--light-container);
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    .photo-wrapper3 {
        display: inline-block;
        border: 10px solid var(--light-container);
        border-radius: 192px;      
        overflow: hidden;            
        transform: rotate(15deg);
    }

    .photo-wrapper3 img {
        display: block;
        width: 100%;                
        height: auto;                
        border-radius: inherit;    
    }

    .photo-wrapper4 {
        display: inline-block;
        border: 10px solid var(--light-container);
        border-radius: 192px;      
        overflow: hidden;            
        transform: rotate(-15deg);             
    }

    .photo-wrapper4 img {
        display: block;
        width: 100%;                
        height: auto;                
        border-radius: inherit;    
    }

    button[type="colorful-button-circle"] {
        border-radius: 100px;
        margin-top: 32px;
        padding: 16px 16px;
        align-items: center;
        background: var(--gradient-color);
        border: none;
        color: var(--white-color);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

/* Join our newsletter */
    .container6 {
    background: var(--gradient-color);
    border-radius: 2rem;
    padding: 4rem 2rem;
    text-align: center;
    max-width: 60rem;
    margin:5rem  auto;
    color: var(--white-color);
    }

   
    .container6 h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--white-color)
    }

    .container6 p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: var(--white-color);
    line-height: 1.6;
    }

    /* subscribe */
    .container6 .Subscribe {
    display: flex;
    background-color: var(--white-color);
    border-radius: 5rem;
    padding: 0.5rem;
    max-width: 40rem;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }


    .container6 .Subscribe input[type="email"] {
    align-items: left;
    border: none;
    padding: 1.2rem 1.5rem;
    border-radius: 5rem;
    font-size: 1rem;
    color: var(--light-text-color-light);
    }


    button[type="submit"] {
        margin-left: 12rem;
        padding: 16px 28px;
        align-items: center;
        border-radius: 64px;
        background: var(--gradient-color);
        border: none;
        color: var(--white-color);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .container6 .Subscribe button:hover {
        opacity: 0.9;
    }

    /* footer */

    footer {
        background-color: var(--light-footer-color);
        padding:64px 130px 64px 130px;
    }

    .footertop {
        display: flex;
        justify-content: space-between;
    }

    .footerbottom .leftbox img {
        text-align: left;
        margin-right: 30px;

    }
    .logo{
        margin-bottom: 40px;
    }

    footer .rightbox {
        display: flex;
        gap: 30px;
    }

    footer p {
        color: var(--light-text-color-light);
    }

    h4  {
        color: var(--white-color);
        margin-bottom: 40px;
    }

    hr {
        border: none;
        border-top: 1px solid var(--light-text-color-light);
        margin: 50px 0;
        height: 2px;
    }
    footer .leftbox img{
        gap: 30px;
    }

    .footerbottom{
        display: flex;
        justify-content: space-between;
    }
} 