@media screen and (max-width: 767px) {

    .container1 {
        margin-top: 64px;
        text-align: center;
        position: relative;
    }

    #colorful {
        background: var(--gradient-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .yoga {
        position: absolute;
        border-radius: 8px;
        background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
        width: 123px;
        height: 66px;
        transform: rotate(10deg);
        color: var(--white-color, #FFF);
        font-family: Lora;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%;
    }

    h1 {
        font-family: Lora;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        color: var(--light-title-color);
    }

    h2 {
        font-family: Lora;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--light-title-color);
    }

    h3 {
        font-family: Lora;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--light-title-color);
    }

    h4 {
        font-family: Lora;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p,
    a {
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: var(--light-body-color);
    }

    a {
        color: var(--light-title-color)
    }

    #colorful {
        background: var(--gradient-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    main {
        padding-top: 56px;  
    }

    /* header */
    header {
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 24px;
        position: fixed;
        background-color: var(--light-background-color);
        z-index: 2;
    }

    header img {
        height: 24px;
    }
    
    nav ul {
        display: flex;
    }

    .menu {
        display: none;
    }

    /* drop down header */

    .mobile {
        display: flex;
    }

    .mobile-icons {
        display: flex;
    }

    .mobile img {
        margin-left: 20px;
    }

    #menu-toggle {
        display: none;
    }

    #app {
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(16px);
        display: flex;
        justify-content: left;
        align-items: left;
        padding-top: 72px;
        padding-left: 48px;
        flex-direction: column;
        transform: translateY(-100%);
        transition: transform 0.4s ease;
        z-index: 1000;
    }
    
    #menu-toggle:checked ~ .overlay {
        transform: translateY(0);
    }

    .overlay ul li {
        margin: 20px;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        cursor: pointer;
    }

/* for dark mode */

    .darkmode-mobile #dark-toggle-mobile {
        display: none; 
    }

    .darkmode-mobile .toggle-label {
        cursor: pointer;
    }

    .darkmode-mobile .toggle-label img {
    transition: transform 0.3s;
    }

    .darkmode-mobile #dark-toggle-mobile:checked + .toggle-label img {
    content: url('./asset/sun.svg'); 
    transform: rotate(360deg);
    }   

    body:has(.darkmode-mobile #dark-toggle-mobile:checked) {
    --light-background-color: var(--dark-background-color);
    --light-title-color: var(--dark-title-color);
    --light-body-color: var(--dark-body-color);
    --light-container: var(--light-container);
    }

    /* container1 hero section*/

    .container1 {
        text-align: center;
        position: relative;
        padding: 30px;
    }

    .container1-text {
        margin-top: 20px;
    }

    .yoga {
        top: 100px;
        left: 220px;
    }

    #star {
        position: absolute;
        z-index: 1;
        width: 52px;
        top: 150px;
        left: 40px;
    }

    #circle {
        position: absolute;
        top: 290px;
        right: 100px;
        width: 16px;
    }

    button[type="colorful-button"] {
        margin-top: 24px;
        padding: 16px 28px;
        align-items: center;
        border-radius: 64px;
        background: var(--gradient-color);
        border: none;
        color: var(--white-color);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .number {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    #container1-img {
        margin-top: 32px;
        width: 320px;
    }

    /* container2 #01 */

    .container2 {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
        position: relative;
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .container2 .top img {
        width: 230px;
    }

    .container2 p {
        margin-top: 40px;
    }

    #blink {
        width: 50px;
        position: absolute;
        z-index: 1;
        top: 165px;
        left: 24px;
    }

    #linkcircle {
        position: absolute;
        top: 280px;
    }

    .container2 a {
        margin-top: 50px;
    }

    /* container3 Bring Happiness To Good Health! */

    .container3 {
        margin-top: 56px;
        padding: 22px;
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        text-align: center;
        position: relative;
    }    

    .container3 .rightbox p {
        margin-top: 24px;
    }

    .container3 .leftbox {
        text-align: left;
    }

    #guy {
        width: 320px;
    }

    #heartrate {
        display: flex;
        width: fit-content;
        background-color: var(--white-color);
        padding: 8px 12px;
        gap: 8px;
        border-radius: 12px;
        position: absolute;
        top: 366px;
        left: 30px;
    }

    #heartrate img {
        width: 36px;
    }

    #freecourse {
        background-color: var(--white-color);
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        border-radius: 12px;
        position: absolute;
        bottom: 64px;
        right: 36px
    }

    /* container4 Anytime, Any Place, Any Workout */

    .container4 {
        margin-top: 48px;
        padding: 24px;
        position: relative;
        text-align: center;
    }

    .container4 .leftbox p {
        margin-top: 24px;
    }

    .container4 .rightbox img {
        width: 250px;
    }

    #stretching1 {
        position: absolute;
        z-index: 1;
        top: 300px;
        left: 38px;
        border-radius: 192px;
        border: 10px solid var(--light-background-color);
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    #stretching2 {
        position: absolute;
        z-index: 0;
        right: 38px;
        top: 430px;
    }

    #video {
        position: absolute;
        right: 24px;
        top: 320px;
        z-index: 1;
        background-color: var(--white-color);
        padding: 12px 8px;
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 8px; 
        border-radius: 12px; 
    }

    #Professional-Trainer {
        background-color: var(--white-color);
        position: absolute;
        z-index: 1;
        left: 40px;
        top: 520px;
        padding: 12px 8px;
        border-radius: 12px;
        display: flex;
        gap: 8px; 
        width: fit-content;
        align-items: center;
    }

    
    /* container5 */

    .container5 {
        margin-top: 150px;
        text-align: center;
        position: relative;
    }

    #yoga1, #yoga2 {
        width: 140px;
    }

    #yoga3, #yoga4 {
        width: 230px;
    }
    
     .container5 .topbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "two two"
            "one three";
        gap: 1rem;
    }

    .photo-wrapper1 {
        display: block;
        grid-area: one;
        border: 10px solid var(--first-color-light, #E5D9FD);
        border-radius: 192px;
        overflow: hidden;

    }

    .photo-wrapper1 img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    .topbox-text {
        padding: 2rem 2rem;
        grid-area: two;
        text-align: center;
    }


    .photo-wrapper2 {
        position: relative;
        top: 5rem;
        width: 100%;
        border: 10px solid var(--first-color-light, #E5D9FD);
        border-radius: 192px;
        overflow: hidden;
    }
      .photo-wrapper2 img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    .bottombox {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        margin: 5rem 1rem;
        padding: 2rem 2rem;
    }

    .photo-wrapper3 {
        width: 80%;
        display: inline-block;
        border: 10px solid var(--first-color-light, #E5D9FD);
        border-radius: 192px;
        overflow: hidden;
        transform: rotate(15deg);
    }

    .photo-wrapper3 img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    .photo-wrapper4 {
        margin-left: 6rem;
        width: 80%;
        display: inline-block;
        border: 10px solid var(--light-container);
        border-radius: 192px;
        overflow: hidden;
        transform: rotate(-15deg);
    }

    .photo-wrapper4 img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    button[type="colorful-button-circle"] {
        border-radius: 100px;
        margin-top: 32px;
        padding: 16px 16px;
        align-items: center;
    }
      
     .container6 {
        background: var(--gradient-color);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        margin: 5rem 1rem;
        text-align: center;

    }

    .container6 h2 {
        font-size: 2.5rem;
        color: var(--white-color);
        margin: 1.2rem 0;

    }

    .container6 p {

        font-size: 1.2rem;
        margin-bottom: 3rem;
        color: var(--white-color);
        line-height: 1.6;
    }

    .Subscribe {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

      .container6 .Subscribe input[type="email"] {
        align-items: left;
        border: none;
        padding: 2rem 2rem;
        border-radius: 5rem;
        font-size: 1rem;
        color: var(--light-text-color-light);
    }

    button[type="submit"] {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 2rem 2rem;
        align-items: center;
        border-radius: 64px;
        background: var(--gradient-color);
        border: none;
        color: var(--white-color);
        font-family: poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    footer {
        background-color: var(--light-footer-color);
        padding: 0 2rem;
        padding-bottom: 32px;

    }

    .footertop {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    footer .rightbox {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    footer p {
        color: var(--light-text-color-light);
    }

    h4 {
        color: var(--white-color);
        margin-bottom: 40px;
    }

    hr {
        border: none;
        border-top: 1px solid var(--light-text-color-light);
        margin-top: 40px;
        height: 2px;
    }

    footer .leftbox {
        gap: 2rem;

    }

    footer .leftbox img {
        padding-top: 40px;
        margin-bottom: 20px;
    }


    .footerbottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }

    .snsimage {
        padding: 0 10px;
    }

}